/*
=============== 
Global Settings
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

.posts {
  padding-top: 50px;
}

.main-title {
  font-family: Quicksand;
  letter-spacing: 0.01em;
  background-color: #290c63;
  text-align: center;
  color: white;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #f9f9f9;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
  a {
  text-decoration: none;
  color: #161616;
  }
}

.topbar {
  padding: 0.7rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  background-color: #cecece;
}

.avatar {
  max-width: 50px;
  border-radius: 50px;
}

.name {
  display: flex;
  font-size: 11px;
  margin: 0.2rem 1rem;
}

.firstname {
  margin: 0 5px;
}

.publish-date {
  font-size: 11px;
  margin: 0.2rem 1rem;
}

.post-container {
  display: flex;
  width: 100%;
}

.post-info {
  width: 50%;
}

.post-image-container {
  margin: 20px;
  background: #454161;
  border-radius: 10px;
}

.post-image {
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  vertical-align: middle;
  opacity: 0.6;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  h2 {
    font-size: 15px;
  }
}

.post-info-text {
  margin: 20px 0;
}

.tags-container {
  display: flex;
  // width: 50%;
  flex-wrap: wrap;
}

.tag1, 
.tag2,
.tag3 {
  h2 {
  padding: 2px 5px;
  margin: 3px;
  background-color: #e4007e;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-tags-button {
  padding: 4px;
  margin: 5px;
  width: 60px;
  background-color: #e4007e;
  color: white;
  border: none;
  border-radius: 5px;

}

.search-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #290c63;
  margin: 0 10px;
}

.clear-search {
  display: flex;
  justify-content: center;
}

.clear-search-button,
.search-button {
  width: 100px;
  border: 1px solid black;
  padding: 4px;
}
.clear-search-button,
.search-button:hover {
  cursor: pointer;
}

// Tablet Styles 
@media (min-width: 768px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
  }
  .card-container {
    display: flex;
    width: 50%;
  }
}

@media (min-width: 1281px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
  }
  .card-container {
    display: flex;
    width: 33%;
  }
}