/*
=============== 
Variables
===============
*/
$bbc-red: #ba0101;
$bbc-font-white: #ffffff;
$bbc-font-grey: #7e7e7e;
$bbc-border: #9d9d9d;
$bbc-inner-border: #7e7e7e;
$bbc-font: Quicksand;
$bbc-headings: #161616;

/*
=============== 
Global Settings
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $bbc-font;
}

.posts {
  padding-top: 50px;
}

.main-title {
  font-family: $bbc-font;
  letter-spacing: 0.01em;
  background-color: #290c63;
  text-align: center;
  color: white;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #f9f9f9;
  width: 90%;

  margin: 20px;
  border-radius: 10px;
  transition: transform 600ms;
  a {
  text-decoration: none;
  color: $bbc-headings;
  }
  
}

.topbar {
  padding: 0.7rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  background-color: #cecece;
}

.avatar {
  max-width: 50px;
  border-radius: 50px;
}

.name {
  display: flex;
  font-size: 11px;
  margin: 0.2rem 1rem;
}

.firstname {
  margin: 0 5px;
}

.publish-date {
  font-size: 11px;
  margin: 0.2rem 1rem;
}



.post-container {
  display: flex;
  width: 100%;
}


.post-info {
  width: 50%;
}

.post-image-container {
  margin: 20px;
  background: #454161;
  border-radius: 10px;
}

.post-image {
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  vertical-align: middle;
  opacity: 0.6;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  h2 {
    font-size: 15px;
  }
}

.post-info-text {
  margin: 20px 0;
}

.tags-container {
  display: flex;
  // width: 50%;
  flex-wrap: wrap;
}

.tag1, 
.tag2,
.tag3 {
  h2 {
  padding: 2px 5px;
  margin: 3px;
  background-color: #e4007e;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  }
}